OPENAI_1_API_KEY="apikey here"
OPENAI_2_API_KEY="api key 2 here"
DJANGO_SECRET_KEY="areweabletomakeourfuturebetter?"

DJANGO_DEBUG="True"

DB_NAME="fivey_db"
DB_USER="postgress username"
DB_PASSWORD="your pass"
DB_HOST="localhost"
DB_PORT="5432"
